<div class="section">
  <div class="box">
    <form [formGroup]="loginForm" >
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="username" type="text" name="user"
                 placeholder="Username" value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="password" type="text" name="pass"
                 placeholder="Password"
                 value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="loginSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
