<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="./assets/images/bulma.png" alt="Logo">
      </a>
      <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
    </div>
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-end">

        <a routerLink="/login" class="navbar-item">
          Login
        </a>
        <a routerLink="/signup" class="navbar-item">
          Register
        </a>
        <a routerLink="/exercises" class="navbar-item">
          Exercises
        </a>

      </div>
    </div>
  </div>
</nav>
<!-- END NAV -->
