<app-navbar></app-navbar>
<div class="container">
  <div id="flow">
    <!--<span class="flow-1"></span>
    <span class="flow-2"></span>
    <span class="flow-3"></span>-->
  </div>
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>
