<div class="section">
  <div class="box">
    <div class="row columns is-multiline">
      <div class="column is-one-third" *ngFor="let item of exercisesGQL$ | async">
        <div class="card short">
          <div class="card-image">
            <figure class="image">
              <img src="http://localhost:4000/statics/{{item.picture}}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  <a (click)="getExercise(item.id)">
                    {{item.name}}
                  </a>
                  <a class="button is-info is-rounded is-outlined"
                     (click)="updateExerciseFrom(item.id)"><fa-icon
                  [icon]="faPencilAlt"
                  style="color: black"></fa-icon></a>
                  <a class="button is-danger is-rounded is-outlined"
                     (click)="deleteExerciseFrom(item.id)"><fa-icon
                    [icon]="faTrashAlt"
                    style="color: black"></fa-icon></a>
                </p>
              </div>
            </div>
            <div class="content">
              {{item.description}}
              <a href="{{item.video}}"> See movement video...</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="level column">
          <div class="level-right" style="height: 290px;">
            <div class="level-item">

              <a class="button is-link is-rounded" (click)="newExerciseFrom()"><fa-icon
                [icon]="faPlusSquare"
                                                            style="color: black"></fa-icon></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
