<div class="section">
  <div class="box">
    <form [formGroup]="signupForm" >
      <div class="field">
        <label class="label">Names</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="names" type="text" name="names"
                 placeholder="names" value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="email" type="email" name="email"
                 placeholder="Email"
                 value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="user" type="text" name="user"
                 placeholder="Username" value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="pass" type="text" name="pass"
                 placeholder="Password"
                 value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" (click)="signupSubmit()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
