<div class="section">
  <div class="box">
    <div class="row columns is-multiline">
      <div class="column is-one-third">
        <div class="card short">
          <div class="card-image">
            <figure class="image">
              <img src="http://localhost:4000/statics/{{(exerciseDetail$ | async).picture}}" alt="Image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">
                  <input type="hidden" [value]="(exerciseDetail$ | async).id" #exerciseId>
                  <a (click)="getExercise(exerciseId)">
                    {{(exerciseDetail$ | async).name}}
                  </a>
                </p>
              </div>
            </div>
            <div class="content">
              {{(exerciseDetail$ | async).description}}
              <a href="{{(exerciseDetail$ | async).video}}"> See movement video...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
