<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href="#"><fa-icon [icon]="faAbacus"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faAbacus"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faAbacus"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faAbacus"></fa-icon></a>
      </div>
      <p>
        <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>.
        The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. <br>
      </p>
    </div>
  </div>
</footer>
