<div class="section">
  <div class="box">
    <form [formGroup]="exerciseForm" >
      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="name" type="text" name="name"
                 placeholder="Name" value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Description</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="description" type="text" name="description"
                 placeholder="Description"
                 value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <figure class="image">
          <img src="http://localhost:4000/statics/{{imgPreview}}" alt="Image" width="300px">
        </figure>
        <label class="label">Picture</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" type="file" name="picture"
                 placeholder="Picture"
                 value="" (change)="onPictureChnge($event)">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>
      <div class="field">
        <label class="label">Video URL</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input is-success" formControlName="video" type="text" name="video"
                 placeholder="Video URL"
                 value="">
          <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link"
                  (click)="exerciseSubmit()"><fa-icon [icon]="faSave" style="color: black"></fa-icon></button>

        </div>
      </div>
    </form>
    {{ exerciseForm.getRawValue() | json}}
  </div>
</div>
<input type="file" #fileToUpload>
<button (click)="uploading(fileToUpload)">upload </button>
